name: Lint and Test

on:
  pull_request:

jobs:
  all:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
      - run: corepack enable
      - run: yarn install
      - name: test contracts
        run: cd contract && yarn test
